@charset "utf-8";
/* CSS Document */
body {
    font-size: 14px;
    font-family: "Rubik",sans-serif;
    color: #262626;
    background-color: #f4f6fb
}

a {
    text-decoration: none;
    color: #1a7cbc
}

a:hover {
    color: currentColor
}

h1,h2,h3,h4,h5,h6,p {
    -webkit-margin-after: 0;
    margin-block-end:0}

ol,ul,dl {
    margin: 0;
    padding: 0
}

li {
    list-style: none
}

h1 {
    font-size: 34px
}

h2 {
    font-size: 30px
}

h3 {
    font-size: 24px
}

h4 {
    font-size: 20px
}

h5 {
    font-size: 18px
}

h6 {
    font-size: 16px;
    font-weight: 400
}

p {
    color: #8392a5
}
section#drop_zone_container {
    margin-top: 30px;
}
.shift-time {
    text-align: left;
    padding: 5px 30px 0px 30px;
}

.shift-time h2 {
    font-size: 1.38em;
    color: #959595;
    font-weight: normal;
}
.break-min {
    text-align: right;
    border: 0;
    font-size: 1.12em;
    color: #666769;
    background-color: #f7f7f7;
}
.shift-time span {
	font-size: 1.12em;
    color: #666769;
}

.land-title-save {
    margin: 20px;
}

.land-title-save button {
    margin: 20px;
}
button.btn.btn-info svg {
    margin-right: 7px;
}
.setting-bl {
	padding: 5px 30px 5px 35px;
}
label.form-check-label {
    font-size: 1.2em;
    font-weight: bold;
    color: #516491;
    padding-left: 5px;
}
label.change-duration-label, label.change-volume-label  {
    font-size: 1.2em;
    color: #516491;
    font-weight: bold;
    padding-right: 10px;
}
.form-group.microphone label, .form-group.speaker label, .form-group.time-zone label {
    color: #586B98;
    font-size: 1.2em;
}
.form-check-input {
    width: 1.2em;
    height: 1.2em;
}
.form-group2 .card-button {
    width: 100px;
}
.card.user-card3 {
    padding: 10px;
}

/*leson table*/

.melody-card {
    float: left;
}

.duration-card {
    float: left;
}
.btn-primary {
    color: #fff;
    background-color: #65769b !important;
    border-color: #1a7cbc !important
}

.btn-primary:hover {
    color: #fff;
    background-color: #5f8af2 !important;
}

.btn-primary:focus,.btn-primary:active {
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
	color: white !important;
}
.btn-warning {
    color: #fff;
    background-color: #7e8aa2 !important;
    border-color: #7b859d !important
}

.btn-warning:hover {
    color: #fff;
    background-color: #fe610f !important
}

.btn-warning:focus,.btn-warning:active {
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
	color: white !important;
}
.btn-info {
    color: #fff;
    background-color: #768ec7 !important;
    border-color: #506caf !important
}

.btn-info:hover {
    color: #fff;
    background-color: #3E9785 !important
}

.btn-info:focus,.btn-info:active {
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
	color: #FFFFFF !important;
}
button.btn.btn-info {
    float: right;
}

.btn-mic2 {
    color: #fff;
    background-color: #768ec7 !important;
    border-color: #506caf !important
}

.btn-mic2:hover {
    color: #fff;
    background-color: #3E9785 !important
}

.btn-mic2:focus,.btn-mic2:active {
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
	color: #FFFFFF !important;
}
button.btn.btn-mic2 {
    float: none;
}

button#record {
    color: #fff;
    background-color: #768ec7 !important;
    border-color: #506caf !important
}
button#record:hover {
    color: #fff;
    background-color: #C32F1A !important
}

button#record:focus, button#record:active {
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
	color: #FFFFFF !important;
}
button#record {
    float: none;
	margin: auto;
}

.btn-add {
    color: #fff;
    background-color: #617DBD !important;
    border-color: #506caf !important
}

.btn-add:hover {
    color: #fff;
    background-color: #3E9785 !important
}

.btn-add:focus,.btn-info:active {
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
	color: #FFFFFF !important;
}

button.btn.btn-add {
    float:left;
	font-size: 1em;
	margin-right: 20px;
	margin-bottom: 10px;
}
.btn-stop {
    color: #e50505;
    background-color: #E9EDF7 !important;
    border-color: #FFFFFF !important;
}

.btn-stop:hover {
    color: #fff;
    background-color: #D7101B !important
}

.btn-stop:focus,.btn-stop:active {
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
	color: #000000 !important;
}
button.btn.btn-stop {
	font-size: 1em;
}
.block-as {
    margin-top: 30px;
}

button.btn.btn-add svg, button.btn.btn-stop svg {
    margin-right: 7px;
}


button.btn.btn-primary {
    float: left;
    clear: right;
    font-size: 13px;
    margin-right: 20px;
}

button.btn.btn-warning {
    float: left;
    font-size: 13px;
	line-height: 0.9em;
}

button.btn.btn-warning svg {margin-right: 10px;}

button.btn.btn-primary svg {
    margin-right: 5px;
}

label.form-label {
    clear: both;
    float: left;
	font-size: 0.9em;
}
.card-header {
    background-color: #f1f1f0;
    border: none;
}

table.lesson {
    background-color: #ffffff;
    border-bottom-color: aliceblue;
    border-bottom-style: dotted;
    margin-bottom: 5px;
}

tr.lesson1 {
    background-color: #f1f1f0;
}
tr.lesson2 {
    background-color: #fff7f4;
}

tr.lesson3 {
    background-color: #eff3ff;
}
tr.lesson4 {
    background-color: #FFFFFF;
}


.lesson-time {
    padding: 5px;
    text-align: center;
}

/* END leson table*/

.card-body.ads2 {
    background-color: #f2f6ff;
}

/* START login*/


.codex-brand.logo-img2 img {
    width: 80px;
}
.form-group {
    padding-top: 20px;
}
.auth-main {
    height: 90vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
.codex-authbox {
    min-width: 630px;
    width: 630px;
    margin: auto;
    background-color: #fff;
    padding: 50px;
    border-radius: 5px;
    border-bottom: 5px solid #6582c3;
    -webkit-box-shadow: 0 0 20px 5px rgba(5,23,34,.05);
    box-shadow: 0 0 20px 5px rgba(5,23,34,.05)
}

.codex-authbox .auth-header {
    text-align: center;
    -webkit-margin-after: 35px;
    margin-block-end:35px;text-transform: capitalize
}

.codex-authbox .auth-header .codex-brand {
    -webkit-margin-after: 25px;
    margin-block-end:25px}

.codex-authbox .auth-header .codex-brand .dark-logo {
    display: none
}

.codex-authbox .auth-header h3 {
    -webkit-margin-after: 5px;
    margin-block-end:5px}

.codex-authbox .form-label {
    text-transform: capitalize
}

.codex-authbox .group-input .input-group-text {
    background-color: rgba(0,0,0,0);
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    color: #1a7cbc;
    font-size: 18px
}

.codex-authbox .auth-remember {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between
}

.codex-authbox .form-group .form-control {
    -webkit-transition: all .5s ease;
    transition: all .5s ease
}

.codex-authbox .form-group .form-control:focus~.input-group-text {
    border-color: #1a7cbc
}

.codex-authbox .form-group .input-group .input-group-text {
    -webkit-transition: all .5s ease;
    transition: all .5s ease
}

.codex-authbox .form-group .input-group .form-control {
    border-right: none
}

.codex-authbox .form-group .group-btn {
    background-color: rgba(0,0,0,0);
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px
}

.codex-authbox .btn {
    -webkit-margin-before: 40px;
    margin-block-start:40px;display: block;
    width: 100%;
    font-size: 20px
}

.codex-authbox .btn i {
    -webkit-margin-end: 10px;
    margin-inline-end:10px}

.codex-authbox .auth-footer {
    -webkit-margin-before: 40px;
    margin-block-start:40px}

.codex-authbox .auth-footer .auth-with {
    color: #8392a5;
    position: relative;
    text-align: center;
    margin: 0 auto;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    -webkit-margin-after: 30px;
    margin-block-end:30px;text-transform: capitalize
}

.codex-authbox .auth-footer .login-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center
}

.codex-authbox .auth-footer .login-list li a {
    padding: 10px 30px;
    border-radius: 30px;
    text-transform: capitalize;
    display: block;
    font-weight: 600
}

.codex-authbox .auth-footer .login-list li a img {
    width: 18px;
    height: auto;
    -webkit-margin-end: 10px;
    margin-inline-end:10px}

.codex-authbox .auth-footer .login-list li .bg-fb {
    color: #fff !important;
    background-color: #385196
}

.codex-authbox .auth-footer .login-list li .bg-google {
    -webkit-box-shadow: 0 0 30px 5px rgba(5,23,34,.07);
    box-shadow: 0 0 30px 5px rgba(5,23,34,.07);
    color: #051722
}

.codex-authbox .auth-footer .login-list li+li {
    -webkit-margin-start: 15px;
    margin-inline-start:15px}

.codex-authbox .auth-icon {
    -webkit-margin-after: 30px;
    margin-block-end:30px;width: 90px;
    height: 90px;
    border-radius: 50%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    background-color: rgba(26,124,188,.08);
    -webkit-margin-start: auto;
    margin-inline-start:auto;-webkit-margin-end: auto;
    margin-inline-end:auto}

.codex-authbox .auth-icon i {
    font-size: 45px;
    color: #1a7cbc
}

.codex-authbox .cdxsocial-link {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center
}

.codex-authbox .cdxsocial-link li a i {
    color: #fff
}

.codex-authbox .auth-pin {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-margin-after: 45px;
    margin-block-end:45px}

.codex-authbox .auth-pin .form-control:nth-child(n+2) {
    -webkit-margin-start: 10px;
    margin-inline-start:10px}

.codex-authbox.auth-emailverify h5 {
    font-size: 16px
}



/* END login*/

.ads button {
	width: 105px;
	height: 105px;
	font-size: 0;
	background-color: red;
	border: 0;
	border-radius: 55px;
	margin: 18px;
	outline: none;
}


.notRec{
	background-color: #677caf !important;
	color: #ececed !important;
}

.notRec:hover{
	background-color: #ED4707 !important;
	color: #ececed !important;
}

.Rec{
	animation-name: pulse;
	animation-duration: 1.5s;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
}

@keyframes pulse{
	0%{
		box-shadow: 0px 0px 5px 0px rgba(173,0,0,.3);
	}
	65%{
		box-shadow: 0px 0px 5px 13px rgba(173,0,0,.3);
	}
	90%{
		box-shadow: 0px 0px 5px 13px rgba(173,0,0,0);
	}
}
button#recButton svg {
    width: 50px;
    height: 50px;
}
.card-body.ads h4 {
    font-size: 2em;
}

.modal-body input {
    padding-top: 20px;
    padding-bottom: 20px;
}
.modal-footer button {
    font-size: 0.9em;
}
button.btn.btn-primary.ml-10.big {
    font-size: 1.1em;
}

.menu-item b {
    padding-left: 5px;
    font-weight: inherit;
}

.logo-img img {
    height: 60px;
    width: auto;
}

.codex-brand {
    text-align: center;
}

span.logo-title {
    font-weight: bolder;
    color: #5e5e5e;
}

span.getDate {
    width: 100px;
    display: block;
    text-align: center;
}
.menu-block {
    margin: auto;
    padding-top: 20px;
}
.menu-profile a {
    color: #5d6884;
}
.menu-profile a:hover {
    color: #4969B9 !important;
}
.menu-profile ul li {
    list-style: none;
}
li.nav-profile {
    list-style: none;
}
.user-icon {
    padding-right: 10px;
}
.media {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start
}

.media-body {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1
}
.codex-header .nav-profile img {
    border-radius: 50%;
    width: 38px;
    height: 38px
}

.codex-header .nav-profile .media {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center
}

.codex-header .nav-profile .media .media-body {
    -webkit-padding-start: 10px;
    padding-inline-start:10px}

.codex-header .nav-profile .media .media-body h6 {
    font-size: 14px;
    font-weight: 500;
    color: #051722
}

.codex-header .nav-profile .media .media-body span {
    font-size: 13px
}      
ul.action-dropdown.active {
    padding-left: 10px;
	margin-right: 25px;
}
.user-card .user-setting {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    -webkit-margin-start: auto;
    margin-inline-start:auto}

.user-card .user-setting .action-dropdown {
    min-width: 160px
}

.land-header.fixed {
    position: fixed;
    width: 100%;
    background-color: #d3dbef !important;
    -webkit-animation: none;
    animation: none;
    -webkit-transition: all .5s ease;
    transition: all .5s ease;
}
.lan-footer {
    text-align: center;
    background-color: #7b859d !important;
}
color.land-title h2 {
    color: #4a66ab;
    font-size: calc(32px + 8*(100vw - 420px) / 1500);
    font-weight: 700;
    text-transform: capitalize;
    -webkit-margin-after: 0;
    margin-block-end: 0;
}
span.liveTime {
    font-size: 2em;
    font-weight: bold;
}
.land-header .menu-action i {
    color: #4a66ab !important;
    font-size: 34px !important;
}

.card {
    margin-top: 10px;
    background-color: #fffcf9;
	border: 1px solid #f6ece5;
}
.card .card-header {
    background-color: rgba(0,0,0,0);
    -webkit-padding-after: 0 !important;
    padding-block-end:0 !important;border: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between
}

.card .card-header h4 {
    text-transform: capitalize
}
.cdxuser-profile .card-header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center
}

.cdxuser-profile .card-header h4 i {
    -webkit-margin-end: 10px;
    margin-inline-end:10px}

.card-header {
    height: auto;
}
.card-header {
    z-index: 1
}

.card-header .setting-card {
    -webkit-margin-start: auto;
    margin-inline-start:auto}

.card .table {
    -webkit-margin-after: 0;
    margin-block-end:0}

.scroll-show .card-body {
    max-height: 250px;
    overflow: auto
}
.card.alerts .card-title-desc {
    -webkit-margin-after: 24px;
    margin-block-end:24px;font-size: 14px
}
.card .setting-card a {
    color: #051722
}

.card .setting-card .codeCopy {
    width: 24px;
    height: auto
}



.card .card-header h4 {
    text-transform: capitalize
}

.card .card-body {
    padding: 25px
}
.user-card .card-body {
    text-align: center;
    -webkit-padding-before: unset !important;
    padding-block-start:unset !important}

.user-card .card-body .user-imgwrap {
    width: 85px;
    height: 85px;
    border-radius: 50%;
    -webkit-margin-start: auto;
    margin-inline-start:auto;-webkit-margin-end: auto;
    margin-inline-end:auto;-webkit-margin-after: 10px;
    margin-block-end:10px}

.user-card .card-body .user-imgwrap img {
    width: 100%;
    height: 100%
}

.user-card .card-body .user-detailwrap h3 {
    font-size: 14px;
    -webkit-margin-after: 10px;
    margin-block-end:5px;
	color: #215ba1;
}

.user-card .card-body .user-detailwrap h6 {
    color: #8392a5;
    text-transform: capitalize;
    -webkit-margin-after: 10px;
    margin-block-end:10px}

.user-card .card-body .user-detailwrap .group-btn {
    -webkit-margin-before: 20px;
    margin-block-start:20px}

.user-card .card-body .user-detailwrap .group-btn .btn {
    text-transform: capitalize
}

.user-card .card-body .user-detailwrap .group-btn .btn:nth-child(n+2) {
    -webkit-margin-start: 10px;
    margin-inline-start:10px}

.cdxuser-profile {
    -webkit-margin-after: 20px;
    margin-block-end:20px}

.cdxuser-profile .card-header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center
}

.cdxuser-profile .card-header h4 i {
    -webkit-margin-end: 10px;
    margin-inline-end:10px}

.cdxuser-profile .contact-list li {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    text-transform: capitalize
}



.action-menu {
    min-width: 215px
}
.action-menu {
    position: relative
}

.action-menu .action-toggle {
    display: inline-block;
    background: rgba(0,0,0,0);
    -webkit-box-shadow: none;
    box-shadow: none;
    border: none;
	float: right;
}

.action-menu .action-toggle i {
    font-size: 22px;
    color: #8392a5;
}

.action-menu .action-toggle:hover {
    color: #1a7cbc;
}

.action-menu .action-dropdown {
    position: absolute;
    inset-inline-end: 0;
    background-color: #fff;
    -webkit-box-shadow: 0 0 5px 0px rgba(5,23,34,.1);
    box-shadow: 0 0 5px 0px rgba(5,23,34,.1);
    border-radius: 5px;
    z-index: 1;
    min-width: 120px;
    opacity: 0;
    visibility: hidden;
    -webkit-transform: translateY(5px);
    transform: translateY(5px);
    -webkit-transition: all .5s ease;
    transition: all .5s ease;
}

.action-menu .action-dropdown.active {
    opacity: 1;
    visibility: visible;
    -webkit-transform: translateY(0);
    transform: translateY(0);
}

.action-menu .action-dropdown li {
    width: 100%;
    display: block;
    text-transform: capitalize;
}

.action-menu .action-dropdown li a,.action-menu .action-dropdown li button,.action-menu .action-dropdown li .btn {
    color: #8392a5;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    font-size: 14px;
    padding: 10px 18px;
}

.action-menu .action-dropdown li a i,.action-menu .action-dropdown li button i,.action-menu .action-dropdown li .btn i {
    font-size: 14px;
    -webkit-margin-end: 10px;
    margin-inline-end:10px;}

.action-menu .action-dropdown li a svg,.action-menu .action-dropdown li button svg,.action-menu .action-dropdown li .btn svg {
    width: auto;
    height: 18px;
    -webkit-margin-end: 10px;
    margin-inline-end:10px;}

.action-menu .action-dropdown li a:focus,.action-menu .action-dropdown li a:active,.action-menu .action-dropdown li button:focus,.action-menu .action-dropdown li button:active,.action-menu .action-dropdown li .btn:focus,.action-menu .action-dropdown li .btn:active {
    -webkit-box-shadow: none;
    box-shadow: none;
    outline: none;
}

.action-menu .action-dropdown li:nth-child(n+2) {
    border-top: 1px solid #e5e5e5;
}

.action-menu .action-dropdown.open {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    visibility: visible;
    opacity: 1;
}


.space-py-100 {
    -webkit-padding-before: 100px;
    padding-block-start:140px;
	-webkit-padding-after: 100px;
    padding-block-end:100px;
}

.card-body::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(5,23,34,.5);
    z-index: -1;
}

.card-body h1 {
    text-transform: capitalize;
    color: #fff;
    -webkit-margin-after: 25px;
    margin-block-end:25px;}

.card-body .input-group {
    -webkit-margin-start: auto;
    margin-inline-start:auto;-webkit-margin-end: auto;
    margin-inline-end:auto;}

.card-body .input-group .input-group-text {
    color: #fff;
}
.card-body {
    text-align: center;
    -webkit-padding-before: unset !important;
    padding-block-start:unset !important}

.card-body .user-imgwrap {
    width: 85px;
    height: 85px;
    border-radius: 50%;
    -webkit-margin-start: auto;
    margin-inline-start:auto;-webkit-margin-end: auto;
    margin-inline-end:auto;-webkit-margin-after: 10px;
    margin-block-end:10px;}

.card-body .user-imgwrap img {
    width: 100%;
    height: 100%
}


.card-body .user-detailwrap h6 {
    color: #8392a5;
    text-transform: capitalize;
    -webkit-margin-after: 10px;
    margin-block-end:10px;}

.card-body .user-detailwrap .group-btn {
    -webkit-margin-before: 20px;
    margin-block-start:20px;}

.card-body .user-detailwrap .group-btn .btn {
    text-transform: capitalize;
}
.card-body .user-detailwrap .group-btn .btn:nth-child(n+2) {
    -webkit-margin-start: 10px;
    margin-inline-start:10px;}

.card .card-body {
    padding: 25px;
}
.scroll-show .card-body {
    max-height: 250px;
    overflow: auto;
}
a.menu-item .badge {
    -webkit-margin-start: auto;
    margin-inline-start:auto;font-size: 10px;
    padding: 5px 7px;
}

a.menu-item .icons svg {
    width: 20px;
    height: auto;
    -webkit-margin-end: 10px;
    margin-inline-end:10px;}

li.menu-item.active>a {
    color: #1a7cbc;
}
.read-wrap {
    -webkit-margin-end: 10px;
    margin-inline-end:10px;}

.codex-authbox .auth-header .codex-brand {
    -webkit-margin-after: 25px;
    margin-block-end:25px;}

.codex-authbox .auth-header .codex-brand .dark-logo {
    display: none;
}

.grid-exa .row {
    -webkit-margin-after: -15px;
    margin-block-end:-15px}

.grid-exa .row>.col,.grid-exa .row [class^=col-] {
    -webkit-margin-after: 15px;
    margin-block-end:15px;}

.grid-exa .row>.col span,.grid-exa .row [class^=col-] span {
    background-color: rgba(26,124,188,.05);
    padding: .75rem;
    display: block;
    text-align: center;
    text-transform: capitalize;
    font-weight: 600;
    color: #1a7cbc;
}

.grid-exa .row+.row {
    -webkit-margin-before: 15px;
    margin-block-start:15px;}

.fixed {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999;
    -webkit-animation: smoothScroll 1s forwards;
    animation: smoothScroll 1s forwards;
}
.fixed2 {
    position: fixed;
    top: 130px;
	z-index: 999;
}




.select2-container .select2-selection--single {
    height: auto;
    border-color: #e5e5e5;
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
    line-height: unset;
    padding: 10px 15px;
    color: #8392a5;
    border-radius: 5px;
}

.select2-container--default .select2-selection--single .select2-selection__arrow {
    width: auto;
    height: auto;
    line-height: 1;
    top: 13px;
    right: 15px;
}

.select2-container--default .select2-selection--single .select2-selection__arrow b {
    display: none;
}

.select2-container--default .select2-selection--single .select2-selection__arrow::before {
    content: "";
    font-family: "FontAwesome";
    color: #8392a5;
    top: 0;
    right: 0;
    font-size: 18px;
}

.custom-container {
    -webkit-padding-start: 15px;
    padding-inline-start:15px;-webkit-padding-end: 15px;
    padding-inline-end:15px;}




body.rtlmode {
    direction: rtl
}

body.rtlmode .input-group>:not(:first-child):not(.dropdown-menu):not(.valid-tooltip):not(.valid-feedback):not(.invalid-tooltip):not(.invalid-feedback) {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

body.rtlmode .input-group:not(.has-validation)>:not(:last-child):not(.dropdown-toggle):not(.dropdown-menu),body.rtlmode .input-group:not(.has-validation)>.dropdown-toggle:nth-last-child(n+3) {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

body.rtlmode .slick-slider {
    direction: ltr;
}

body.rtlmode .apexcharts-canvas {
    direction: ltr;
}

body.rtlmode .ecompro-slide .slick-next {
    left: unset;
}

body.rtlmode .theme-cutomizer {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

body.rtlmode .customizer-action {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

body.rtlmode .theme-cutomizer .customizer-body .customizer-title {
    color: #cdc9c9;
}

body.rtlmode .codex-pricingtbl .cdxprice-list li {
    direction: ltr;
}

body.rtlmode .codex-pricingadvance .cdxprice-list li {
    direction: ltr;
}

body.rtlmode .cdx-invoice .invoice-user .right-user li {
    direction: ltr;
}

body.rtlmode .blgcomment-list li .media .media-body h5 .comment-time {
    float: left;
}

.space-pt-100 {
    -webkit-padding-before: 100px;
    padding-block-start:100px;}

.space-pb-100 {
    -webkit-padding-after: 100px;
    padding-block-end:100px;}

.land-title {
    -webkit-margin-after: 40px;
    margin-block-end:40px;text-align: center;
}
.land-title2 {
    -webkit-margin-after: 40px;
    margin-block-end:20px !important;
	margin-block-start: 20px;
}

.land-title h2 {
    color: #516491;
    font-size: calc(32px + 8*(100vw - 420px)/1500);
    font-weight: 700;
    text-transform: none;
    -webkit-margin-after: 0;
    margin-block-end:0;
	text-align: left;
	padding-left: 20px;
}
.land-title h3 {
    color: #516491;
    font-size: calc(32px + 8*(100vw - 420px)/1500);
    font-weight: 700;
    text-transform: none;
    -webkit-margin-after: 0;
    margin-block-end:0;
	padding-left: 0px;
}

.land-title p {
    -webkit-margin-start: auto;
    margin-inline-start:auto;-webkit-margin-end: auto;
    margin-inline-end:auto;-webkit-margin-before: 5px;
    margin-block-start:5px;font-size: calc(16px + 2*(100vw - 420px)/1500);
}

.land-header {
    -webkit-padding-before: 20px;
    padding-block-start:20px;-webkit-padding-after: 20px;
    padding-block-end:15px;}

.land-header.fixed {
    position: fixed;
    width: 100%;
    background-color: rgba(0,0,0,0);
    -webkit-animation: none;
    animation: none;
    -webkit-transition: all .5s ease;
    transition: all .5s ease;
}

.land-header.fixed .menu-list a {
    color: #54565c;
    font-size: 18px;
	text-decoration:none;
}
.menu-list li a:hover, .menu-list a:focus {
    color: #3455a5 !important;
    font-size: 18px;
    text-decoration:underline;
}
.menu-list a:active {
    color: #DC801A;
    font-size: 18px;
	text-decoration:underline;
}


.land-header.fixed .menu-action span {
    background-color: #fff;
}

.land-header.fixed .menu-action span::after,.land-header.fixed .menu-action span::before {
    background-color: #fff;
}

.land-header.fixed .menu-action.toggle-active span {
    background-color: rgba(0,0,0,0);
}

.land-header.fixed.sticky .menu-list a {
    color: #051722;
}

.land-header.fixed.sticky .menu-action i {
    color: #051722;
}

.land-header .header-contain {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.land-header .menu-list li {
    display: inline-block;
}

.land-header .menu-list li+li {
    -webkit-margin-start: 20px;
    margin-inline-start:30px;
	 padding-bottom: 10px;
}

.land-header .menu-action {
    -webkit-margin-start: 15px;
    margin-inline-start:15px;}

.land-header .menu-action i {
    color: #fff;
    font-size: 24px;
}

.intro {
    height: 100vh;
    position: relative;
    background-color: #051722;
}

.intro::before {
    content: "";
    position: absolute;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(5,23,34,.8);
}

.intro .intro-contain {
    height: 100vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    position: relative;
    z-index: 1;
    color: #fff;
    -webkit-padding-before: 70px;
    padding-block-start:70px;}

.intro .intro-contain h1 {
    font-weight: 700;
    font-size: calc(32px + 18*(100vw - 420px)/1500);
    -webkit-margin-after: 15px;
    margin-block-end:15px;}

.intro .intro-contain p {
    color: #fff;
    font-size: calc(16px + 2*(100vw - 420px)/1500);
}

.intro .intro-contain .btn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    font-size: 18px;
    -webkit-margin-before: 45px;
    margin-block-start:45px;}

.intro .intro-contain .btn i {
    -webkit-margin-end: 10px;
    margin-inline-end:10px;}

.cdx-demos .cdx-row {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.demo-grid {
    text-align: center;
}

.demo-grid .img-wrap {
    overflow: hidden;
    border-radius: 8px;
    -webkit-box-shadow: 0 0 15px rgba(5,23,34,.15);
    box-shadow: 0 0 15px rgba(5,23,34,.15);
    position: relative;
    border: 10px solid #fff;
}

.demo-grid .img-wrap .group-link {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    margin: auto;
    background-color: rgba(5,23,34,.8);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: all .5s ease;
    transition: all .5s ease;
    border-radius: 8px;
}

.demo-grid .img-wrap .group-link .hover-link {
    color: #fff;
    background-color: #fff;
    width: 50px;
    height: 50px;
    border-radius: 5px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.demo-grid .img-wrap .group-link .hover-link img {
    color: #1a7cbc;
    width: auto;
    height: 24px;
}

.demo-grid .img-wrap .group-link .hover-link+.hover-link {
    margin-left: 10px;
}

.demo-grid .img-wrap img {
    width: 100%;
    height: auto;
    -webkit-transition: all .5s ease;
    transition: all .5s ease;
}

.demo-grid .demo-detail {
    -webkit-margin-before: 20px;
    margin-block-start:20px}

.demo-grid .demo-detail h3 {
    font-size: calc(22px + 4*(100vw - 420px)/1500);
    font-weight: 700;
    text-transform: capitalize;
}

.demo-grid:hover .img-wrap img {
    -webkit-transform: scale(1.02);
    transform: scale(1.02);
}

.demo-grid:hover .group-link {
    opacity: 1;
    visibility: visible;
}

.landheader-comp {
    background-color: #051722;
}

.landheader-comp .img-wrap {
    border: 5px solid #fff;
    border-radius: 10px;
}

.landheader-comp .header-detail {
    -webkit-padding-end: 60px;
    padding-inline-end:60px;position: sticky;
    top: 280px;
    width: 100%;
    -webkit-margin-before: 100px;
    margin-block-start:100px;}

.landheader-comp .header-detail h2 {
    font-size: calc(32px + 14*(100vw - 420px)/1500);
    font-weight: 700;
    color: #fff;
    -webkit-margin-after: 10px;
    margin-block-end:10px}

.landheader-comp .header-detail p {
    color: #fff;
    font-size: calc(16px + 2*(100vw - 420px)/1500);
}

.landheader-comp .header-detail p+p {
    -webkit-margin-before: 15px;
    margin-block-start:15px;}

.landheader-comp .header-detail .btn {
    -webkit-margin-before: 45px;
    margin-block-start:45px;}

.feathure .cdx-row {
    -webkit-margin-after: -35px;
    margin-block-end:-35px;}

.feathure .cdx-row>div {
    -webkit-margin-after: 35px;
    margin-block-end:35px;}

.feathure-grid {
    text-align: center;
    -webkit-box-shadow: 0 0 20px rgba(5,23,34,.1);
    box-shadow: 0 0 20px rgba(5,23,34,.1);
    padding: 45px 0;
    border-radius: 8px;
    -webkit-transition: all .5s ease;
    transition: all .5s ease;
    background-color: #fff;
}

.feathure-grid:hover {
    -webkit-box-shadow: 0 0 30px rgba(5,23,34,.1);
    box-shadow: 0 0 30px rgba(5,23,34,.1);
    background-color: rgba(26,124,188,.04);
}

.feathure-grid .icon-wrap {
    background-color: rgba(26,124,188,.1);
    width: 75px;
    height: 75px;
    border-radius: 50%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-margin-start: auto;
    margin-inline-start:auto;-webkit-margin-end: auto;
    margin-inline-end:auto;}

.feathure-grid .icon-wrap i {
    color: #1a7cbc;
}

.feathure-grid .icon-wrap img {
    width: auto;
    height: 35px;
}

.feathure-grid h5 {
    font-weight: 600;
    -webkit-margin-before: 15px;
    margin-block-start:15px;text-transform: uppercase;
}

.lan-footer {
    text-align: center;
    background-color: #051722;
}

.lan-footer .codex-brand {
    -webkit-margin-after: 30px;
    margin-block-end:30px;}

.lan-footer .support-contain {
    -webkit-margin-start: auto;
    margin-inline-start:auto;-webkit-margin-end: auto;
    margin-inline-end:auto;}

.lan-footer .support-contain h2 {
    font-size: calc(22px + 14*(100vw - 420px)/1500);
    font-weight: 700;
    color: #fff;
    line-height: 1.4;
}

.lan-footer .support-contain p {
    color: rgba(255,255,255,.9);
    font-size: calc(16px + 4*(100vw - 420px)/1500);
}

.lan-footer .support-contain .btn {
    -webkit-margin-before: 40px;
    margin-block-start:40px;}



@media screen and (min-width: 1199px){li.mob-menu a {display: none;}}

@media screen and (max-width: 767px) {
    .codex-authbox {
        width: 100%;
        min-width: 100%;
        padding: 30px
    }

    .codex-authbox .auth-header {
        -webkit-margin-after: 25px;
        margin-block-end:25px}

    .codex-authbox .auth-header .codex-brand {
        -webkit-margin-after: 10px;
        margin-block-end:10px}

    .codex-authbox .auth-header .codex-brand img {
        width: 150px
    }

    .codex-authbox .auth-header h3 {
        font-size: 24px
    }

    .codex-authbox .auth-icon {
        width: 80px;
        height: 80px;
        -webkit-margin-after: 15px;
        margin-block-end:15px}

    .codex-authbox .auth-icon i {
        font-size: 35px
    }

    .codex-authbox .auth-footer {
        -webkit-margin-before: 25px;
        margin-block-start:25px}

    .codex-authbox .auth-footer .auth-with {
        font-size: 16px;
        -webkit-margin-after: 25px;
        margin-block-end:25px}

    .codex-authbox .auth-pin {
        -webkit-margin-after: 35px;
        margin-block-end:35px}

    .codex-authbox .btn {
        -webkit-margin-before: 30px;
        margin-block-start:30px;font-size: 18px
    }	
	
.auth-main {
 padding: 0 50px
}

.action-menu {
        min-width: 155px;
}
.user-detailwrap {
    padding: 5px;
}
.action-menu .action-toggle svg {
        width:auto;
        height: 20px;
	}
li.nav-profile {
    display: none;
}
.codex-authbox .auth-header .codex-brand {
        -webkit-margin-after: 10px;
        margin-block-end:10px;
	}
.codex-authbox .auth-header .codex-brand img {
        width: 150px;
    }
a.menu-item .badge {
        font-size: 8px;
        padding: 3px 5px;
    }	
a.menu-item {
        padding: 7px 10px;
    }	
}
@media screen and (min-width: 1200px) {
li.menu-item.active>a {
        color: #fff;
        background-color: #1a7cbc;
	}
}
@media screen and (max-width: 1365px) {
    body.darkmode .product-filter .card {
        border-color:#0d3e5e;
    }
	 .card {
        -webkit-margin-after: 0;
        margin-block-end:0;}

   .card {
        border-radius: 0;
        border-bottom: 1px dashed #e5e5e5;
    }
}
@media screen and (max-width: 1199px) {
		h2 {
    font-size: 24px;
}
	.user-card .card-body .user-detailwrap h3 {
    font-size: 14px;
}
	button.btn.btn-warning {
    margin-bottom: 10px !important;
    margin-top: 10px !important;
}
	.form-label {
    margin-bottom: 0rem;
}
	li.nav-profile {
        display: none;
    }
	.action-menu {
    min-width: 185px;
}
	.card .card-header {
        padding:20px;
    }
	.card {
        -webkit-margin-after: 0;
        margin-block-end:0;}
	
    header.land-header .menu-list li .close-menu .menu-brand svg {
        color:#051722;
    }

    header.land-header .menu-list li a {
        color: #051722;
    }

    header.land-header.fixed .menu-list a {
        color: #051722;
    }

    header.land-header.fixed .menu-list li {
        display: block;
    }

    header.land-header.fixed .menu-list li+li {
        -webkit-margin-start: unset;
        margin-inline-start:unset;}

    .menu-list {
        position: fixed;
        top: 0;
        right: -350px;
        width: 320px;
        height: 100%;
        overflow: auto;
        background-color: #fff;
        display: block;
        z-index: 9;
        opacity: 0;
        visibility: hidden;
        -webkit-transition: all .5s ease;
        transition: all .5s ease;
    }

    .menu-list.open {
        right: 0;
        opacity: 1;
        visibility: visible;
        border-top: 1px solid #e5e5e5;
    }

    .menu-list li {
        display: block;
        position: relative;
    }

    .menu-list li .close-menu {
        padding: 25px 20px;
    }

    .menu-list li .close-menu .menu-brand {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
        width: 100%;
    }

    .menu-list li .close-menu .menu-brand img {
        width: 60px;
        height: auto;
    }

    .menu-list li .close-menu .menu-brand svg {
        width: 30px;
        height: 30px;
    }

    .menu-list li+li {
        border-top: 1px solid #e5e5e5
    }

    .menu-list li a {
        padding: 10px 20px;
        width: 100%;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        font-size: 16px;
    }

    .menu-list li .submenu-list {
        border-top: 1px solid #e5e5e5;
    }

    .menu-list li .submenu-list a {
        -webkit-padding-start: 30px;
        padding-inline-start:30px;color: #8392a5;
        font-size: 14px;
    }

    .menu-list li .submenu-list a i {
        position: absolute;
        top: 15px;
        right: 20px;
        -webkit-transform: rotate(90deg);
        transform: rotate(90deg);
        font-weight: 600;
        font-size: 16px;
    }

    .menu-list li .submenu-list li .secodnmenu-list {
        border-top: 1px solid #e5e5e5;
    }

    .menu-list li .submenu-list li .secodnmenu-list a {
        -webkit-padding-start: 45px;
        padding-inline-start:45px;}

    .menu-list>li>a i {
        -webkit-margin-start: auto;
        margin-inline-start:auto;}
}

@media screen and (max-width: 991px) {
	    .card .card-header {
        padding:20px;
    }
   .block-as {
    margin-top: 10px;
}

    .card .card-body {
        padding: 20px;
    }
 .faq-searchwrap .card-body {
        height: 250px;
    }
	    .user-card .card-body .user-imgwrap {
        width: 70px;
        height: 70px;
    }

    .user-card .card-body .user-detailwrap h3 {
        font-size: 18px;
    }
    .land-title {
        -webkit-margin-after:30px;
        margin-block-end:30px;}

    .intro {
        background-position: left !important
    }

    .intro .intro-contain {
        text-align: center;
    }

    .intro .intro-contain .btn {
        -webkit-margin-start: auto;
        margin-inline-start:auto;-webkit-margin-end: auto;
        margin-inline-end:auto;-webkit-margin-before: 30px;
        margin-block-start:30px;}

    .landheader-comp .header-detail {
        -webkit-margin-before: unset;
        margin-block-start:unset;position: static;
        -webkit-padding-end: unset;
        padding-inline-end:unset;-webkit-margin-after: 40px;
        margin-block-end:40px;}

    .landheader-comp .header-detail h2 {
        -webkit-margin-after: 5px;
        margin-block-end:5px;}

    .landheader-comp .header-detail p+p {
        -webkit-margin-before: 10px;
        margin-block-start:10px;}

    .landheader-comp .header-detail .btn {
        -webkit-margin-before: 25px;
        margin-block-start:25px;}

    .lan-footer .codex-brand {
        -webkit-margin-after: 20px;
        margin-block-end:20px;}

    .lan-footer .codex-brand img {
        width: 70px;
    }

    .lan-footer .support-contain .btn {
        -webkit-margin-before: 30px;
        margin-block-start:30px;}
}

@media screen and (max-width: 575px) {
	    .codex-authbox {
        padding: 25px
    }

    .codex-authbox .auth-icon {
        -webkit-margin-after: 10px;
        margin-block-end:10px;width: 60px;
        height: 60px
    }

    .codex-authbox .auth-icon i {
        font-size: 28px
    }

    .codex-authbox .auth-header {
        -webkit-margin-after: 20px;
        margin-block-end:20px}

    .codex-authbox .auth-footer {
        -webkit-margin-before: 20px;
        margin-block-start:20px}

    .codex-authbox .auth-footer .login-list li a {
        padding: 10px 20px;
        font-size: 14px
    }

    .codex-authbox .auth-footer .login-list li a img {
        width: 14px
    }

    .codex-authbox .auth-pin {
        -webkit-margin-after: 30px;
        margin-block-end:30px}

    .codex-authbox .btn {
        -webkit-margin-before: 25px;
        margin-block-start:25px;font-size: 16px
    }
  .auth-main {
    padding: 0 20px
    }

	.space-py-100 {
    -webkit-padding-before: 100px;
    padding-block-start:120px;
	-webkit-padding-after: 100px;
    padding-block-end:90px;
}
	.block-as {
    margin-top: 0px;
}
	.fixed2 {
    position: fixed;
    top: 120px;
    left: 0;
    z-index: 999;
}
	.user-card .card-body .user-detailwrap h3 {
    font-size: 14px;
}
	.user-detailwrap {
    padding: 7px;
}
	    .card .card-header {
        padding: 10px;
    }
	    .action-menu {
        min-width: 135px;
    }
       .card-body .btn {
        -webkit-margin-before: 15px!important;
        margin-block-start:15px;}

    .animated-shap .earning-detail {
        -webkit-padding-start: 15px;
        padding-inline-start:15px;-webkit-padding-end: 15px;
        padding-inline-end:15px;}

    .card-body {
        padding: 15px 0 0 0 !important
    }

    .card-body h4 {
        -webkit-padding-start: 15px;
        padding-inline-start:15px;-webkit-padding-end: 15px;
        padding-inline-end:15px;}
    .land-title {
        -webkit-margin-after:20px;
        margin-block-end:20px;}

    .intro .intro-contain h1 {
        -webkit-margin-after: 10px;
        margin-block-end:10px;}

    .intro .intro-contain .btn {
        -webkit-margin-before: 25px;
        margin-block-start:25px;}

    .demo-grid .demo-detail {
        -webkit-margin-before: 15px;
        margin-block-start:15px;}

    .feathure-grid {
        padding: 30px 10px;
        background-color: #fff;
    }

    .feathure-grid .icon-wrap {
        width: 60px;
        height: 60px;
    }

    .feathure-grid .icon-wrap img {
        height: 24px;
    }

    .feathure .cdx-row {
        -webkit-margin-after: -30px;
        margin-block-end:-30px;}

    .feathure .cdx-row>div {
        -webkit-margin-after: 30px;
        margin-block-end:30px;}

    .lan-footer .codex-brand img {
        width: 160px;}
	
    .btn {
        font-size:14px;
        padding: 12px 20px;
    }

    .btn.btn-md {
        padding: 10px 15px;
    }

    .container,.custom-container {
        -webkit-padding-start: 20px;
        padding-inline-start:20px;-webkit-padding-end: 20px;
        padding-inline-end:20px;}
	
	    .codex-header .nav-profile img {
        width: 34px;
        height: 34px;
    }

    .codex-header .nav-profile .media .media-body {
        display: none;
    }
}

@media screen and (max-width: 390px) {
	 .codex-authbox .auth-remember {
        display: block
    }
	.shift-time {
    text-align: left;
    padding: 15px 30px 10px 30px !important;
}

    .codex-authbox .auth-footer .login-list li a {
        font-size: 0;
        padding: 0;
        width: 35px;
        height: 35px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        border-radius: 5px
    }

    .codex-authbox .auth-footer .login-list li a img {
        -webkit-margin-end: unset;
        margin-inline-end:unset}
		button.btn.btn-stop span {
    display: none;
}
	.btn-stop {
    color: #ffffff !important;
    background-color: #e50505 !important;
    border-color: #ff0d0d !important;
}
	.card .card-header {
        padding: 8px;
    }
	.user-detailwrap {
    padding: 7px;
}
	 .action-menu {
        min-width: 105px;
    }
    .codex-header .form-group .input-group-text {
        width:34px;
        height: 34px
    }

    .codex-header .form-group .input-group-text i {
        font-size: 16px
    }

    .codex-header .nav-iconlist>li:nth-child(n+2) {
        -webkit-margin-start: 8px;
        margin-inline-start:8px}

    .codex-header .nav-profile img {
        width: 34px;
        height: 34px
    }

    .cdxuser-profile .post-list .post-contain .post-detail .postreact-status {
        display: block
    }

    .cdxuser-profile .post-list .post-contain .post-detail .postreact-status li a {
        -webkit-box-pack: start;
        -ms-flex-pack: start;
        justify-content: flex-start
    }

    .cdxuser-profile .post-list .post-contain .post-detail .postreact-status li+li {
        -webkit-margin-before: 10px;
        margin-block-start:10px}

    .cdxuser-profile .post-list .post-contain .post-detail .post-react li a {
        font-size: 0
    }

    .cdxuser-profile .post-list .post-contain .post-detail .post-react li a svg {
        -webkit-margin-end: unset;
        margin-inline-end:unset}

    .codex-authbox .auth-remember {
        display: block
    }

    .codex-authbox .auth-footer .login-list li a {
        font-size: 0;
        padding: 0;
        width: 35px;
        height: 35px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        border-radius: 5px
    }

    .codex-authbox .auth-footer .login-list li a img {
        -webkit-margin-end: unset;
        margin-inline-end:unset}

    .cdxshopping-cart .cartbtn-group .group-btn .btn {
        display: block;
        width: -webkit-fit-content;
        width: -moz-fit-content;
        width: fit-content
    }

    .cdxshopping-cart .cartbtn-group .group-btn .btn:nth-child(n+2) {
        -webkit-margin-start: unset;
        margin-inline-start:unset;-webkit-margin-before: 10px;
        margin-block-start:10px}
}

@media screen and (max-width: 575px) {
    .lan-footer .codex-brand img {
        width: 55px !important;
    }
	.shift-time {
    text-align: left;
    padding: 15px 30px 10px 30px !important;
}
}

.modal-backdrop {
    z-index: 1040 !important;
  }
  
.modal {
z-index: 1050 !important;
}



