<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Audio Stream</title>
</head>
<body>
    <h1>Audio Streaming Demo</h1>

    <div id="listen-section">
        <h2>Listen to Stream</h2>
        <p id="stream_id"></p>
        <button id="startListen">Start Listening</button>
        <button id="stopListen" disabled>Stop Listening</button>
        <audio id="audioPlayer" controls hidden></audio>
    </div>


    <script src="static/js/mic/listen.js"></script>
</body>
</html>